<!DOCTYPE html>
<html>
<head>
  <title>Pags</title>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag    'bootswatch.min', media: 'all'%>
   <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'jquery.backstretch.min', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	      <ul class="nav navbar-nav navbar-right">
	         <li class="<%= 'active' if params[:action] == 'pag1' %>">
          	<%= link_to 'Pagina 1', pags_pag1_path %>
	        </li>
	        <li class="<%= 'active' if params[:action] == 'pag2' %>">
	          <%= link_to 'Pagina 2', pags_pag2_path %>
	        </li>
	        <li class="<%= 'active' if params[:action] == 'pag3' %>">
	          <%= link_to 'Pagina 3', pags_pag3_path %>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container">
	<%= yield %>
	</div>

</body>
</html>
